.nextflow/*
.nextflow/cache/*
.nextflow.log*
work/*
result/work/*
result/*
data/*
bin/BMGE/*
bin/BMGE
bin/T-COFFEE_installer_Version_13.46.0.919e8c6b_linux_x64
bin/T-COFFEE_installer_Version_13.46.0.919e8c6b_linux_x64/*