
params.input = '/home/deng/nextflow/ete4-build/data/sp_tree'
params.output = '/home/deng/nextflow/demo_result'
params.thread = 6
params.aligner = 'mafft_default'
params.trimmer = 'none'
params.tree_builder = 'fasttree'
params.memory = '10GB'
params.time = '00:10:00'
params.queue = 'fast'
params.executor = 'slurm' // local or slurm

process {
    withName: 'align' {
        executor = params.executor
        queue = params.queue // SLURM queue name
        time = params.time // SLURM time allocation
        memory = params.memory // SLURM memory allocation
    }
    withName: 'trim' {
        executor = params.executor
        queue = params.queue
        time = params.time
        memory = params.memory
    }
    withName: 'build' {
        executor = params.executor
        queue = params.queue
        time = params.time
        memory = params.memory
    }
}
