
params.input = 'data/sp_tree/'
params.output = 'result/'
params.thread = 4
params.aligner = 'mafft_default'
params.trimmer = 'trimal'
params.tree_builder = 'fasttree_default'
params.memory = '4GB'
params.time = '1h'

profiles {
    local {
        process {
            executor = 'local'
        }
    }
}
