
params.input = 'data/NUP62.aa.fa'
params.output = 'result/'
params.thread = 4
params.aligner = 'clustalo_default'
params.trimmer = 'trimal'
params.tree_builder = 'raxml_default'
params.memory = '4GB'
params.time = '1h'

profiles {
    local {
        process {
            executor = 'local'
        }
    }
}
