[mafft_default]
_desc = 'Mafft with default parameters'
_app = mafft
auto = True
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 0 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_linsi]
_desc = 'Mafft with linsi method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 1000 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
localpair = True 
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_ginsi]
_desc = 'Mafft with ginsi method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 1000 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
globalpair = True
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_einsi]
_desc = 'Mafft with einsi method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 1000 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
genafpair = True
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_fftnsi]
_desc = 'Mafft with fftnsi method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 2 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_fftnsimax]
_desc = 'Mafft with fftnsi method and maxiterate set to 1000'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 1000 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_fftns]
_desc = 'Mafft with fftns method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 0 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_fftns1]
_desc = 'Mafft with fftns1 method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 0 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 1 # Number of iterative refinement is performed. Default: 2

[mafft_nwnsi]
_desc = 'Mafft with nwnsi method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 2 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2
nofft = True

[mafft_nwns]
_desc = 'Mafft with nwns method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 0 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2
nofft = True

[mafft_nwnsparttree]
_desc = 'Mafft with nwns parttree method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 0 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 1 # Number of iterative refinement is performed. Default: 2
nofft = True
parttree = True

[muscle_default]
_desc = 'muscle alignment with default parameters'
_app = muscle
perturb = 0 # Integer random number seed for generating HMM perturbations. Default SEED=0, which uses default HMM parameters.
# perm = "" # Specifies the guide tree permutation. PERM can be none, abc, acb and bca, default is none.

[muscle_stratified]
_desc = 'muscle alignment with stratified ensemble'
_app = muscle
# replicates = 4 # default 4 for -stratified and 100 for -diversified. With -stratified, one replicate is generated for each guide tree permutation, so the total number of replicates is 4×N.
# stratified = True # Generate stratified ensemble.
# consiters = 2 # Number of consistency iterations. Default 2.
# refineiters = 100 # Number of refinement iterations. Default 100.

[muscle_diversified]
_desc = 'muscle alignment with diversified ensemble'
_app = muscle
# replicates = 100 # default 4 for -stratified and 100 for -diversified. With -stratified, one replicate is generated for each guide tree permutation, so the total number of replicates is 4×N.
# diversified = True # Generate stratified ensemble.
# consiters = 2 # Number of consistency iterations. Default 2.
# refineiters = 100 # Number of refinement iterations. Default 100.

[muscle_super5]
_desc = 'muscle alignment with super setting for large datasets'
_app = muscle

[clustalo_default]
_desc = 'clustalo with default parameters'
_app = clustalo
dealign = False # If given already aligned sequences, by default Clustal Omega use the existing alignment to guide creation of the new alignment, by constructing a HMM from the existing alignment. Default: False

[clustalo_full]
_desc = 'clustalo with full mode'
_app = clustalo
full = True # Use full distance matrix for guide-tree calculation
dealign = False # If given already aligned sequences, by default Clustal Omega use the existing alignment to guide creation of the new alignment, by constructing a HMM from the existing alignment. Default: False

[clustalo_full_iterations]
_desc = 'clustalo with full mode in iterations'
_app = clustalo
full_iter = True #Use full distance matrix for guide-tree calculation during iteration
dealign = False # If given already aligned sequences, by default Clustal Omega use the existing alignment to guide creation of the new alignment, by constructing a HMM from the existing alignment. Default: False
iterations = 1  # Number of (combined guide-tree/HMM) iterations
max_guidetree_iterations = 1 # Maximum number of guidetree iterations
max_hmm_iterations = 1 # Maximum number of HMM iterations

