[mafft_default]
_desc = 'Mafft with default parameters'
_app = mafft
auto = True
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 0 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_linsi]
_desc = 'Mafft with linsi method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 1000 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
localpair = True 
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_ginsi]
_desc = 'Mafft with ginsi method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 1000 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
globalpair = True
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_einsi]
_desc = 'Mafft with einsi method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 1000 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
genafpair = True
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_fftnsi]
_desc = 'Mafft with fftnsi method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 2 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_fftnsimax]
_desc = 'Mafft with fftnsi method and maxiterate set to 1000'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 1000 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_fftns]
_desc = 'Mafft with fftns method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 0 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2

[mafft_fftns1]
_desc = 'Mafft with fftns1 method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 0 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 1 # Number of iterative refinement is performed. Default: 2

[mafft_nwnsi]
_desc = 'Mafft with nwnsi method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 2 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2
nofft = True

[mafft_nwns]
_desc = 'Mafft with nwns method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 0 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 2 # Number of iterative refinement is performed. Default: 2
nofft = True

[mafft_nwnsparttree]
_desc = 'Mafft with nwns parttree method'
_app = mafft
op = 1.53  # Gap opening penalty at group-to-group alignment. Default: 1.53
ep = 0.123 # Offset value, which works like gap extension penalty, for group-to-group alignment. Default: 0.123
maxiterate = 0 # number cycles of iterative refinement are performed. Default: 0
matrix = "" # "", blosum or pam
blosum_coefficient = 62 # Default: 62
pam_coefficient = 80
retree = 1 # Number of iterative refinement is performed. Default: 2
nofft = True
parttree = True

[muscle_default]
_desc = 'muscle alignment with default parameters'
_app = muscle
perturb = 0 # Integer random number seed for generating HMM perturbations. Default SEED=0, which uses default HMM parameters.
# perm = "" # Specifies the guide tree permutation. PERM can be none, abc, acb and bca, default is none.

[muscle_stratified]
_desc = 'muscle alignment with stratified ensemble'
_app = muscle
# replicates = 4 # default 4 for -stratified and 100 for -diversified. With -stratified, one replicate is generated for each guide tree permutation, so the total number of replicates is 4×N.
# stratified = True # Generate stratified ensemble.
# consiters = 2 # Number of consistency iterations. Default 2.
# refineiters = 100 # Number of refinement iterations. Default 100.

[muscle_diversified]
_desc = 'muscle alignment with diversified ensemble'
_app = muscle
# replicates = 100 # default 4 for -stratified and 100 for -diversified. With -stratified, one replicate is generated for each guide tree permutation, so the total number of replicates is 4×N.
# diversified = True # Generate stratified ensemble.
# consiters = 2 # Number of consistency iterations. Default 2.
# refineiters = 100 # Number of refinement iterations. Default 100.

[muscle_super5]
_desc = 'muscle alignment with super setting for large datasets'
_app = muscle

[clustalo_default]
_desc = 'clustalo with default parameters'
_app = clustalo
dealign = False # If given already aligned sequences, by default Clustal Omega use the existing alignment to guide creation of the new alignment, by constructing a HMM from the existing alignment. Default: False

[clustalo_full]
_desc = 'clustalo with full mode'
_app = clustalo
full = True # Use full distance matrix for guide-tree calculation
dealign = False # If given already aligned sequences, by default Clustal Omega use the existing alignment to guide creation of the new alignment, by constructing a HMM from the existing alignment. Default: False

[clustalo_full_iterations]
_desc = 'clustalo with full mode in iterations'
_app = clustalo
full_iter = True #Use full distance matrix for guide-tree calculation during iteration
dealign = False # If given already aligned sequences, by default Clustal Omega use the existing alignment to guide creation of the new alignment, by constructing a HMM from the existing alignment. Default: False
iterations = 1  # Number of (combined guide-tree/HMM) iterations
max_guidetree_iterations = 1 # Maximum number of guidetree iterations
max_hmm_iterations = 1 # Maximum number of HMM iterations

[tcoffee_default]
_desc = 'tcoffee with default parameters'
_app = t_coffee

[famsa_default]
_desc = 'famsa with default parameters'
_app = famsa

[famsa_guidetree]
_desc = 'famsa with guide tree'
_app = famsa
gt = upgma # "", sl, upgma, or nj, or import a tree in newick format
medoidtree = False # align sequences with an approximated medoid guide tree

[famsa_advanced]
_desc = 'famsa with advanced parameters'
_app = famsa
gt = upgma # "", sl, upgma, or nj, or import a tree in newick format
medoidtree = True # align sequences with an approximated medoid guide tree
refine_mode = auto # auto, off or on, (default: auto - the refinement is enabled for sets <= 1000 seq.)
r = 100 # no. of refinement iterations
go = -14850 # gap open penalty
ge = -1250 # gap extension penalty
tgo = -660 # terminal gap open penalty
tge = -660 # terminal gap extension penalty
gsd = 7 # gap cost scaller div-term
gsl = 45 # gap cost scaller log-term
dgr = False # disable gap cost rescaling
dgo = False # disable gap open optimization
dsp = False # disable sum of pairs optimization during refinement

[trimal_default]
_desc = 'trimal alignment cleaning with default parameters'
_app = trimal

[trimal_001]
_desc = 'trimal alignment cleaning removing columns with >1% gaps'
_app = trimal
gt = 0.01

[trimal_01]
_desc = 'trimal alignment cleaning removing columns with >10% gaps'
_app = trimal
gt = 0.1

[trimal_02]
_desc = 'trimal alignment cleaning removing columns with >20% gaps'
_app = trimal
gt = 0.2

[trimal_03]
_desc = 'trimal alignment cleaning removing columns with >30% gaps'
_app = trimal
gt = 0.3

[trimal_05]
_desc = 'trimal alignment cleaning removing columns with >50% gaps'
_app = trimal
gt = 0.5

[trimal_gappyout]
_desc = 'trimal alignment cleaning using gappyout algorithm'
_app = trimal
gappyout= True # This method only uses information based on gaps' distribution.

[trimal_advanced]
_desc = 'trimal alignment cleaning with advanced parameters'
_app = trimal
gt = 0.0 # Gap Threshold 1 - (fraction of sequences with a gap allowed). Range: [0 - 1]
st = 0.7 # Minimum average similarity allowed. Range: [0 - 1]
ct = 0.0 # Minimum percentage of the positions in the original alignment to conserve. Range: [0 - 100]
w = 3 # Window size for the sliding window approach. Range: [1 - infinity]
gappyout = False # This method only uses information based on gaps' distribution.
strictplus = False # Optimized for Neighbour Joining phylogenetic tree reconstruction.
automated1 = False # Optimized for Maximum Likelihood phylogenetic tree reconstruction.

[trim_alg_v2_default]
_desc = 'simple trim alignment cleaning with default parameters'
_app = trim_alg_v2
min_res_abs = 3 # Minimum number of residues in the alignment
min_res_percent = 0.1 # Minimum percentage of residues in the alignment

[clipkit_default]
_desc = 'clipkit alignment cleaning with default parameters'
_app = clipkit
mode = smart-gap # <trimming mode  smart-gap, gappy,kpic, kpic-smart-gap, kpic-gappy, kpi, kpi-smart-gap, kpi-gappy, cst, c3> (default: smart-gap)
gaps = 0.9 # <gap threshold> (default: 0.9)

[clipkit_codon]
_desc = 'clipkit alignment cleaning with codon mode'
_app = clipkit
mode = smart-pop # <trimming mode  smart-pop, pop, cst, c3> (default: smart-pop)
gaps = 0.9 # <gap threshold> (default: 0.9)
codon = True # <codon mode> (default: False)

[fasttree_default]
_desc = 'Fasttree with default parameters'
_app = fasttree
aa_model = JTT # Evolutionary model LG, WAG or JTT for amino acid sequences 
nt_model = JC # Evolutionary model GTR or JC for nucleotide sequences 

[fasttree_full]
_desc = 'Fasttree with full mode'
_app = fasttree
aa_model = JTT # Evolutionary model LG, WAG or JTT for amino acid sequences
nt_model = JC # Evolutionary model GTR or JC for nucleotide sequences
gamma = False # Non-uniformity of evolutionary rates among sites may be modeled by using a discrete Gamma distribution
bootstrap = 1000 # Number of bootstrap replicates, 0 to disable support values
pseudo = True # Pseudo-likelihood support values
spr = 4 # the number of rounds of minimum-evolution SPR moves
mlacc = 2 # the number of rate categories for the ML model of rate heterogeneity
slownni = True # Use slow NNI moves

[phyml_default]
_desc = 'PhyML with default parameters'
_app = phyml
aa_model = LG # Amino-acid based models : LG (default) | WAG | JTT | MtREV | Dayhoff | DCMut | RtREV | CpREV | VT | AB | Blosum62 | MtMam | MtArt |HIVw |  HIVb | custom
nt_model = HKY85 # Nucleotide-based models : HKY85 (default) | JC69 | K80 | F81 | F84 |TN93 | GTR | custom (*)
pinv = e # Proportion of invariable sites  Can be a fixed value in the [0,1] range or e to get the maximum likelihood estimate.
alpha = e # gamma : distribution of the gamma distribution shape parameter. Can be a fixed positive value or e to get the maximum likelihood estimate.
nclasses = 4 # Number of rate categories nb_subst_cat : number of relative substitution rate categories. Default : nb_subst_cat=4.
optimisation = tlr  # params=tlr : tree topology (t), branch length (l) and rate parameters (r) are optimised.
                    # params=tl  : tree topology and branch length are optimised.
                    # params=lr  : branch length and rate parameters are optimised.
                    # params=l   : branch length are optimised.
                    # params=r   : rate parameters are optimised.
                    # params=n   : no parameter is optimised.
frequencies = m     # e : the character frequencies are determined by counting the number of amino-acids or nucleotides from the sequence alignment. 
                    # m : the character frequencies are determined as follows : 
                    # - Nucleotide sequences: the equilibrium base frequencies are optimized using maximum likelihood.
                    # - Amino-acid sequences: the equilibrium amino-acid frequencies are estimated using
                    #     the frequencies defined by the substitution model.
                    # o : the character frequencies (amino-acids or nucleotides) are optimized using maximum likelihood 
                    # fA,fC,fG,fT : only valid for nucleotide-based models. fA, fC, fG and fT are floating numbers that 
                    #     correspond to the frequencies of A, C, G and T respectively (WARNING: do not use any blank space between
                    #     your values of nucleotide frequencies, only commas!)
bootstrap = -2      # int >  0: int is the number of bootstrap replicates.
                    # int =  0: neither approximate likelihood ratio test nor bootstrap values are computed.
                    # int = -1: approximate likelihood ratio test returning aLRT statistics.
                    # int = -2: approximate likelihood ratio test returning Chi2-based parametric branch supports.
                    # int = -4: SH-like branch supports alone.
                    # int = -5: (default) approximate Bayes branch supports.
tbe = False         # Computes TBE instead of FBP (standard) bootstrap support. Has no effect with -b <= 0
r_seed = 123456     # Random seed for the starting point of the optimization process. Default: 123456   

[phyml_default_bootstrap]
_desc = 'PhyML with default parameters and bootstrap'
_app = phyml
aa_model = LG # Amino-acid based models : LG (default) | WAG | JTT | MtREV | Dayhoff | DCMut | RtREV | CpREV | VT | AB | Blosum62 | MtMam | MtArt |HIVw |  HIVb | custom
nt_model = HKY85 # Nucleotide-based models : HKY85 (default) | JC69 | K80 | F81 | F84 |TN93 | GTR | custom (*)
pinv = e # Proportion of invariable sites  Can be a fixed value in the [0,1] range or e to get the maximum likelihood estimate.
alpha = e # gamma : distribution of the gamma distribution shape parameter. Can be a fixed positive value or e to get the maximum likelihood estimate.
nclasses = 4 # Number of rate categories nb_subst_cat : number of relative substitution rate categories. Default : nb_subst_cat=4.
optimisation = tlr  # params=tlr : tree topology (t), branch length (l) and rate parameters (r) are optimised.
                    # params=tl  : tree topology and branch length are optimised.
                    # params=lr  : branch length and rate parameters are optimised.
                    # params=l   : branch length are optimised.
                    # params=r   : rate parameters are optimised.
                    # params=n   : no parameter is optimised.
frequencies = m     # e : the character frequencies are determined by counting the number of amino-acids or nucleotides from the sequence alignment. 
                    # m : the character frequencies are determined as follows : 
                    # - Nucleotide sequences: the equilibrium base frequencies are optimized using maximum likelihood.
                    # - Amino-acid sequences: the equilibrium amino-acid frequencies are estimated using
                    #     the frequencies defined by the substitution model.
                    # o : the character frequencies (amino-acids or nucleotides) are optimized using maximum likelihood 
                    # fA,fC,fG,fT : only valid for nucleotide-based models. fA, fC, fG and fT are floating numbers that 
                    #     correspond to the frequencies of A, C, G and T respectively (WARNING: do not use any blank space between
                    #     your values of nucleotide frequencies, only commas!)
bootstrap = 100     # int >  0: int is the number of bootstrap replicates.
                    # int =  0: neither approximate likelihood ratio test nor bootstrap values are computed.
                    # int = -1: approximate likelihood ratio test returning aLRT statistics.
                    # int = -2: approximate likelihood ratio test returning Chi2-based parametric branch supports.
                    # int = -4: SH-like branch supports alone.
                    # int = -5: (default) approximate Bayes branch supports.
tbe = False         # Computes TBE instead of FBP (standard) bootstrap support. Has no effect with -b <= 0
r_seed = 123456     # Random seed for the starting point of the optimization process. Default: 123456   

[raxml_default]

[iqtree_default]