{
  "aligner": {
    "mafft": {
        "name": "mafft",
        "mode": "auto",
        "op": 1.53,
        "ep": 0.123,
        "maxiterate": 2,
        "matrix": "blosum",  
        "blosum_coefficient": 62,  
        "pam_coefficient": 80,
        "methods": {
          "auto": {"flag": "--auto"},
          "linsi": {"flag": "--localpair --maxiterate 1000"},
          "ginsi": {"flag": "--globalpair --maxiterate 1000"},
          "einsi": {"flag": "--ep 0 --genafpair --maxiterate 1000"},
          "fftnsi": {"flag": "--retree 2 --maxiterate 2"},
          "fftnsi_max": {"flag": "--retree 2 --maxiterate 1000"},
          "fftns": {"flag": "--retree 2 --maxiterate 0"},
          "fftns1": {"flag": "--retree 1 --maxiterate 0"},
          "nwnsi": {"flag": "--retree 2 --maxiterate 2 --nofft"},
          "nwns": {"flag": "--retree 2 --maxiterate 0 --nofft"},
          "nwns_parttree": {"flag": "--retree 1 --maxiterate 0 --nofft --parttree"}
        }
      },
    "muscle": {
      "name": "muscle",
      "maxiters": 16,
      "diags": true
    },
    "tcoffee": {
      "name": "t_coffee"
    },
    "clustalo": {
        "name": "clustalo",
        "dealign": false,
        "mode": "default",
        "iterations":10
      },
    "famsa": {
      "name": "famsa",
      "gt": "sl",
      "iterations": 100
    }
  },
  "trimmer": {
    "trimal": {
      "name": "trimal",
      "gt": 0.1,
      "st": 0,
      "ct": 0
    },
    "clipkit": {
      "name": "clipkit",
      "mode": "smart-gap",
      "gap-threshold": 0.9,
      "codon": false
    }
  },
  "tree_builder": {
    "fasttree": {
      "name": "fasttree",
      "datatype": "aa",
      "model": "JTT",
      "pseudo": 1.0,
      "gamma": true,
      "branch_support": true,
      "bootstrap_rep": 1000
    },
    "phyml": {
      "name": "phyml",
      "model": "JTT",
      "datatype": "aa",
      "equilibrium_freq": "empirical",
      "prop_invar": 0, 
      "gamma": 0,
      "branch_support": "bootstrap",
      "bootstrap": "fbp",
      "bootstrap_rep":2,
      "r_seed": 123456
    },
    "raxml": {
      "name": "raxml",
      "algorithm": "d",
      "r_seed": 31416,
      "model": "PROTGAMMAJTT",
      "bootstrap_rep": 100
    },
    "iqtree": {
      "name": "iqtree",
      "st": "AA",
      "alrt": 1000,
      "seed": 31416,
      "mode": "TEST",
      "bootstrap_rep":1000,
      "bootstrap": "fbp"
    }
  }
}
